In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os,glob,tqdm

In [10]:
df=pd.read_excel("./Data/processing_data_ot_playtime.xlsx")

In [11]:
df.shape

(37372, 15)

In [12]:
df=df.sort_values(by=["playtime"],ascending=True).sort_values(by=["timestemp"]).reset_index()
df.drop("index",axis=1,inplace=True)
df.tail()

,timestemp,month,day,hour,minute,dayofweek,playtime,uniquecode,productcode,productname,category,small_category,price,profit,ot
37367,2019-12-31 23:40:00,12,31,23,40,1,20,100448,201391,일시불쿠첸압력밥솥 6인용,주방,주방가전,148000,10157000,1
37368,2020-01-01 00:00:00,1,1,0,0,2,20,100448,201391,일시불쿠첸압력밥솥 6인용,주방,주방가전,148000,46608000,2
37369,2020-01-01 00:00:00,1,1,0,0,2,20,100448,201384,무이자쿠첸압력밥솥 6인용,주방,주방가전,158000,13765000,2
37370,2020-01-01 00:00:00,1,1,0,0,2,20,100448,201383,무이자쿠첸압력밥솥 10인용,주방,주방가전,178000,50929000,2
37371,2020-01-01 00:00:00,1,1,0,0,2,20,100448,201390,일시불쿠첸압력밥솥 10인용,주방,주방가전,168000,104392000,2

In [17]:
df[["timestemp","profit","ot"]].head(10)

            timestemp    profit  ot
0 2019-01-01 06:00:00   4371000   0
1 2019-01-01 06:00:00   2099000   0
2 2019-01-01 06:20:00   3262000   1
3 2019-01-01 06:20:00   6955000   1
4 2019-01-01 06:40:00   6672000   2
5 2019-01-01 06:40:00   9337000   2
6 2019-01-01 07:00:00   6819000   0
7 2019-01-01 07:20:00  15689000   1
8 2019-01-01 07:40:00  25370000   2
9 2019-01-01 08:00:00  16133000   0

In [47]:
for i in df.index:
    pretime=df.iloc[i-1].timestemp
    nowtime=df.iloc[i].timestemp
    
    preuniquecode=df.iloc[i-1].uniquecode
    nowuniquecode=df.iloc[i].uniquecode
    
    if preuniquecode!=nowuniquecode: #마더코드가 다를 때
        if pretime!=nowtime:         #편성시간이 다르면 (새로운 제품 편성)
            ot=0
    else:                            #마더코드가 같을 때
        if pretime!=nowtime:         #편성시간이 다르면 (회차가 다를 때)
            ot+=1
    df.loc[i,'ot']=ot

In [1]:
df.head(10)

NameError: name 'df' is not defined

In [50]:
df['ot'].unique()

array([0., 1., 2., 3., 4., 5., 6., 7.])

In [51]:
df['ot'].value_counts()

0.0    12931
1.0    12705
2.0    11169
3.0      292
4.0      138
5.0      135
7.0        1
6.0        1
Name: ot, dtype: int64

In [39]:
df[df['ot']==7]

,timestemp,month,day,hour,minute,playtime,uniquecode,productcode,productname,category,small_category,price,profit,ot
34119,2019-11-28 11:30:00,11,28,11,30,10,100046,200125,고칼슘검은콩두유48팩+호두아몬드 두유48팩,농수축,가공식품,30900,29948000,7

In [40]:
df[df['ot']==6]

,timestemp,month,day,hour,minute,playtime,uniquecode,productcode,productname,category,small_category,price,profit,ot
34118,2019-11-28 11:20:00,11,28,11,20,10,100046,200125,고칼슘검은콩두유48팩+호두아몬드 두유48팩,농수축,가공식품,30900,18449000,6